.add-toys-btns {
    display: flex;
    // flex-direction: column;
    justify-content: start;
    align-items: center;


    font-size: 1.2rem;
    margin: 0 10px;
    padding: 10px;
    
    &:hover {
        color: $clr4;
    }
    
    a {
        text-decoration: none;
        color: inherit;

    }
}